<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(titleContent, additionalLinks)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:if="${_csrf != null}" name="_csrf" th:content="${_csrf.token}"/>
    <meta th:if="${_csrf != null}" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="icon" type="image/svg+xml" th:href="@{/logos/iridium.svg}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/escape-html.js}" th:attr="nonce=${cspNonce}"></script>
    <script th:src="@{/js/event-delegation.js}" th:attr="nonce=${cspNonce}"></script>
    <script th:src="@{/js/datetime-splitter.js}" defer th:attr="nonce=${cspNonce}"></script>
    
    <title th:replace="${titleContent}"></title>
    <th:block th:if="${additionalLinks != null}" th:replace="${additionalLinks}"></th:block>
</head>
</html>