<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head(titleContent=~{::title}, additionalLinks=~{})}">
    <title th:text="${appTitle} + ' - ' + #{terms.title}">Profit Basetool - Nutzungsbedingungen</title>
</head>
<body>
<th:block th:replace="~{fragments/sidebar :: sidebar}" />

<header>
    <nav>
        <button id="hamburger" class="hamburger-btn" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a th:href="@{/}" class="brand">
            <img th:src="@{/logos/krt.webp}" alt="Logo" width="50" height="50">
            <span class="logo-text" th:text="${appTitle}">Profit Basetool</span>
        </a>
    </nav>
</header>
<main>
    <div class="hud-box mt-2">
        <h1 th:text="#{terms.title}">Nutzungsbedingungen</h1>
        <p th:text="#{terms.example_text}">Dies sind die Nutzungsbedingungen der Plattform.</p>
    </div>
</main>
</body>
</html>